:root {
    /* TODO: Define the theme colors for the app */
    --background-color: #1a1a1a;
    --link-color: #646cff;
    --link-hover-color: #535bf2;
    --button-background: #1a1a1a;
    --button-hover-border: #646cff;
    --button-text-color: #e6e6e6;
    --green1: #86e7b8;
    --green2: #93ff96;
    --green3: #b2ffa8;
    --yellow: #d0ffb7;
    --cream: #f2f5de;
    --black: #000000;
    --font-fam: 'Manrope', sans-serif;
}